{% extends 'base.html.twig' %}

{% block title %}Gestion des proprietaires{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Gestion des proprietaires</h1>
        <table class="table table-striped">
            <tr>
                <th>Prenom</th>
                <th>Nom</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            {% for p in proprietaires %}
                <tr>
                    <td>{{ p.nom }}</td>
                    <td>{{ p.prenom }}</td>
                    <td>
                        {#<a class="btn btn-primary" href="{{ path("categorie_modifier", {"id":c.id}) }}">modifier</a>#}
                    </td>
                    <td>
                        {#<a class="btn btn-danger" href="{{ path("categorie_supprimer", {"id":c.id}) }}">supprimer</a>#}
                    </td>
                    <td>
                        {#<a class="btn btn-success" href="{{ path("voir_chatons", {"id":c.id}) }}">voir les chatons</a>#}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <h2>Ajouter un proprietaire</h2>
        {{ form(formulaire) }}



    </div>
{% endblock %}
